<h1> Song Name: <%= @song.title %></h1>
<br><br>
<ol>
    <li>Artist Name: <%= @song.artist_name %></li><br>
    <li>Genre: <%= @song.genre %></li><br>
    <li>Released: <%= @song.released %></li><br>
    <li>Release Year: <%= @song.release_year %></li><br>
    <li><%= link_to "Edit", edit_song_path(@song) %></li>
    <li><%= link_to "Delete", delete_song_path(@song), method: :delete, data: {confirm: "Are you sure bruh?"} %></li>
</ul>

</ol>

